
# Archives are no longer checked in, must be downloaded from the GitHub Releases.
*.xz

debian/*/input
debian/*/input-*

ubuntu/*/input
ubuntu/*/input-*

centos/*/input
centos/*/input-*

rpi/9/input-rpi-9-arm32v6/
rpi/9-develop/input-rpi-9-arm32v6/
rpi/9-npm/input-rpi-9-arm32v6/
